<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Screenshot Service</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <article>
        <form onsubmit="doScreenshot();return false;">
            <input type="url" name="url" placeholder="for example https://google.com">
            <button type="submit">Screenshot!</button>
        </form>
        <img alt="your screenshot" style="display:none;">
    </article>
    <script>
        function doScreenshot() {
            const url = document.querySelector('input').value;
            if (!url) return;
            const img = document.querySelector('img');
            img.style.display = 'none';
            img.src = '/screenshot?url=' + encodeURIComponent(url);
            img.onload = () => {
              img.style.display = 'block';
            };
        }
    </script>
</body>
</html>